.created-by {
	list-style: none;
	padding: 0;
	li {
		font-size: .8em;
		margin: 1em 5% 1em 0;
		display: inline-block;
		text-align: center;
		width: 45%;
		@media screen and (min-width: 30em) {
			width: auto; margin-right: 4em;
			&:last-child { margin-right: 0; }
		}
	}
	a {
		display: block;
		&:hover {
			.title { color: darken($color-white, 20%); }
		}
	}
}

.creator-img { 
	width: 100px;
	max-width: 100%;
	@include filter(grayscale(100%));
	border-radius: 50%;
	@include transition(all, .5s);
}

.name {
	font-size: 1.25em;
	margin: .5em 0 .25em;
}

.deg {
	vertical-align: top;
	img {
		margin-top: 25px;
		width: 140px;
		border-radius: 0; 
		opacity: .3; 
		&:hover {
			opacity: 1;
			@include filter(grayscale(0%));
		}
	}
}